### Data types - Lists and Tuples:

In [1]:
students = "John, Mary, Steve"

### LISTS:

In [6]:
students = ["John", "Mary", "Steve"]

In [7]:
type(students)

list

In [8]:
len(students)

3

In [9]:
students[0]

'John'

In [10]:
students[-1]

'Steve'

In [11]:
students[:2]

['John', 'Mary']

### TUPLES:

In [12]:
months = ("Jan", "Feb", "March")

In [13]:
type(months)

tuple

In [14]:
months[0]

'Jan'

In [15]:
students

['John', 'Mary', 'Steve']

In [16]:
students[0] = "George"

In [17]:
students

['George', 'Mary', 'Steve']

In [19]:
months[0] = "New month" # we can't modify objects in tuple.

TypeError: 'tuple' object does not support item assignment

In [20]:
students.append("Kate")

In [21]:
students

['George', 'Mary', 'Steve', 'Kate']

In [22]:
students.insert(0, "bhagya")

In [23]:
students

['bhagya', 'George', 'Mary', 'Steve', 'Kate']

In [24]:
students.pop()

'Kate'

In [25]:
students

['bhagya', 'George', 'Mary', 'Steve']

In [26]:
students.pop(1)

'George'

In [27]:
students

['bhagya', 'Mary', 'Steve']

In [28]:
students.remove("Mary")

In [29]:
students

['bhagya', 'Steve']

In [31]:
students2 = ["Paul", "John"]
students + students2         #merge 2 lists

['bhagya', 'Steve', 'Paul', 'John']

#### Program : crate a program that asks the user for his birthday in the format 
- "DD-MM-YYYY".Then print
- "You were born in [month]"

In [34]:
b_day = input("Enter your birthday in DD-MM-YYYY format:").split()
print("You were born in", b_day[1])

Enter your birthday in DD-MM-YYYY format:22 may 2000
You were born in may

In [39]:
months = ("January", "February", "march", "April", "May", "June", "July", "August", "September", "October", "November", "December")
b_day = input("Enter your birthday in DD-MM-YYYY format:")

index = int(b_day[3:5]) - 1
bd_month = months[index]

print("You were born in", bd_month)

Enter your birthday in DD-MM-YYYY format:22-05-2000
You were born in May

#### program: Create a program with a predefined list of people. Ask the user for his name, add it to the end of the list and print the updated list.

In [42]:
people = ["bhagya", "Angel"]
newUser = input("Enter your name")
people.append(newUser)
print("Updated list is ", people)

Enter your namego
Updated list is  ['bhagya', 'Angel', 'go']