## PYTHON BASICS:

### 3.Statements :
- case sensitive.
- sensitive to indentation.

In [1]:
print("Hello world.")

Hello world.

#### p.Average of two numbers:

In [4]:
print("This program calculates the average of 2 numbers.")
print("The numbers are 4 and 8.")
print("The average is:", (4 + 8)/2)

This program calculates the average of 2 numbers.
The numbers are 4 and 8.
The average is: 6.0

### 4.Variables: 
#### RULES:
- variable names can only contain letters, numbers, underscores.
    - special characters like $, ", ', ?, /, -, @, #, ! are not allowed.
- variable names can't start with numbers.
    - "var2" is a valid name.
    - "2var" is not a valid name.
- variable names are case sensitive.
    - "age" != "Age"
- Reserved words can't be used.
    - "print" is an invalid variable name.
    - but it is not recommanded.
- values of the variable is dynamic.(they can change).

#### p. Average of 2 numbers:

In [5]:
print("This program calculates the average of 2 numbers.")
number1 = 4
number2 = 8
print("The numbers are", number1, "and", number2)
print("The average is:", (number1 + number2)/2)

This program calculates the average of 2 numbers.
The numbers are 4 and 8
The average is: 6.0

### 5. The input function:

In [6]:
num1 = input("Enter a number:")

Enter a number:4

#### p. Average of 2 numbers:

In [7]:
print("This program calculates the average of 2 numbers.")
number1 = float(input("Enter first number:"))
number2 = float(input("Enter second number:"))
print("The numbers are", number1, "and", number2)
print("The average is:", (number1 + number2)/2)

This program calculates the average of 2 numbers.
Enter first number:4
Enter second number:8
The numbers are 4.0 and 8.0
The average is: 6.0

#### p. km to miles converter.
- 1 mile = 1.609344 km.

In [8]:
km = float(input("Enter kilometers:"))
miles = km / 1.609344
print(km, "km =", round(miles, 4), "miles")

Enter kilometers:100
100.0 km = 62.1371 miles